<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href=" {{url_for('index')}} ">
        <img src="/static/img/LOGO PILKADIKSI_2022-removebg-preview.png" class="navbar-brand-img" alt="Pilkadiksi PNJ">
        <h3> PILKADIKSI PNJ </h3>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <!-- Nav items
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="#">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href=" {{url_for('index')}} ">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'daftarakun' in segment %} active {% endif %}" href=" {{url_for('daftarakun')}} ">
              <i class="ni ni-archive-2 text-primary"></i>
              <span class="nav-link-text">Daftar Akun Mahasiswa</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'hasilvoting' in segment %} active {% endif %}" href=" {{url_for('hasilvoting')}} ">
              <i class="ni ni-chart-bar-32 text-primary"></i>
              <span class="nav-link-text">Hasil Voting</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'daftarkandidat' in segment %} active {% endif %}" href=" {{url_for('daftarkandidat')}} ">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">Kandidat</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logoutadmin') }}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
      </div>
    </div>
  </div>
</nav>